
.button {
    width: 90px;
    height: 30px;
    border: 0;
    margin: 5px;

    border-radius: 4px;
    color: #fff;
    background-color: #7c7a7a;
}

.button:hover{
    background-color: #8b92ab;
}
